<app-navbar></app-navbar>

<section class="uk-margin-medium-top uk-margin-medium-bottom">
    <div class="uk-container uk-container-small  " >
        <article class="uk-article">
            <b >INTRODUCTION</b>
            <p class="uk-article-meta uk-dropcap">
               A project is basically a variety of techniques, tools, and processes that the college uses to
                set graduation projects found in list ideas to set manage and control their student
                projects. The way it is used and implemented ranges from complex to simple . It
                depends on the needs and scope of the college and the capabilities and functions of the
                management software used. For all colleges that focus on graduation projects, project
                design sites are an essential and valuable tool.
                This controls the flow of project types among students, maintains the correct
                graduation project levels for all students annually, and allows access to student data
                and analyzes, and how the college determines the requirements for graduation
                projects within individual security.
                In short, everything related to project design falls under the umbrella of creating new
                projects and, accordingly, a site for new project ideas. This includes thinking, ordering,
                installing, logistics, project distribution, and even project management, to name a
                few .In a sense, the ideas of graduation projects and their management constitute the
                lifeblood of college students - it is what drives students, which in turn drives science.
                Unsurprisingly, many colleges invest a lot of capital in obtaining the best locations to
                produce strong project ideas.In a very real way, how college administration can
                manage its graduate projects has a major impact on its project success.
                The benefits of a highly effective and optimized online system for graduation projects
                can be enormous. Likewise, the opposite is also true - many colleges have largely failed
                due to persistent project innovation.Therefore, and what is the importance of the
                project innovation site, it was necessary to make an electronic proposed model for
                project innovation in the best way in terms of identifying the required projects and
                distributing them to students, and therefore the report was prepared to serve as a
                simple reference on the project innovation system electronically .

            </p>

        </article>

        <article class="uk-article uk-margin-medium-top">
                <b >1.1 PROJECT DEFINITION</b>
                <p class="uk-article-meta ">
                        In this thesis, I have built a Simple websit which can convert to mobile app as
                        Simplyused to dynamically manage the content . Computer Science Department needs
                        give to teacher account to upload his academic subjects to students and raisinginstructions to the class students, show the department's teachers for the visitors of
                        the site be updated from admin in websit . Could be admin has no technical knowledge
                        to management websit .
                </p>
      </article>
      <article class="uk-article uk-margin-medium-top">
            <b >1.2 PURPOSE</b>
            <p class="uk-article-meta ">
                    
                    The main purpose of this project is to investing graduate projects to implement the rest
                    of the project ideas to develop this educational project in order to rely more on
                    e-learning and take advantage of graduation projects and not write projects that waste
                    time without benefiting from them.
            </p>
      </article>

      <article class="uk-article uk-margin-medium-top">
            <b >Conclusion</b>
            <p class="uk-article-meta ">
                    The site building journey has not always been easy. In the past five months I have
                    honed our skills, met some wonderfully talented people, and I never forget thank to
                    StackOverFlow.
            </p>
      </article>

      <article class="uk-article uk-margin-medium-top">
            <b >2.1 Future Prospects</b>
            <p class="uk-article-meta ">
                    Although my partner and I accomplished our goals for a successful senior project,there
                    are a plethora of features we would like to implement in the near future! A few ofthe
                    features we would like to focus on next .
                    
            </p>
                    <ul class="uk-article-meta " >
                            <li>Student gets the exam result through the website.</li>
                            <li>App messaging, banking integration,and automated receipt analysis.</li>
                            <li>Student identification card</li>
                            <li>App messaging system.</li>
                            <li>Online exam.</li>
                            <li>Exam analysis.</li>
                        </ul>
            <p class="uk-article-meta ">
                    Etc , is an extended target because it is extremely difficult technically. However, our  future
                    The goal will be at least to conduct research and development in this project.
            </p>

      </article>
     

    </div>
    
</section>