<div class="body">
    <app-navbar></app-navbar>
    <div class="uk-container uk-container-small" style="z-index: 2;">
      <div
        class="uk-section uk-flex uk-flex-middle uk-margin-left "
        uk-height-viewport="offset-top: true"
        style="min-height: calc(-130px + 100vh)"
      >
        <div class="uk-width-1-1@m">
          <div class="uk-container">
            <div uk-grid="" class="uk-grid-large uk-grid uk-grid-stack">
              <div class="uk-width-1-2@s uk-text-cente">
                <div class="uk-card uk-margin-auto uk-margin-large-top ">
                  <h4 class="uk-text-bold uk-text-large">Student needs</h4>
                  <b class="lead">News , Lectures , department Teacher .</b>
                  <br />
                  <div class="uk-margin-small-top uk-animation-toggle">
                    <button class="uk-button uk-animation-scale-down uk-button-default uk-border-pill" > &nbsp; Join &nbsp; </button>
                  </div>
                </div>
              </div>
  
              <div
                class="uk-width-1-2@s uk-flex uk-flex-middle uk-flex-center uk-padding-remove-right uk-grid-margin uk-first-columns"
              >
                <img  src="../../../../assets/img/index.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- <div class=" uk-inline uk-margin-medium-top dashboard-wrap-content">
            
    
          <div class="uk-position-center " >
              <div class="uk-container uk-container-small ">
                  <div class="uk-grid-collapse uk-child-width-1-2@s " uk-grid>
                      <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                          <img src="../../../../assets/img/index.png" alt="" uk-cover>
                                  <canvas width="300" height="350"></canvas>
                      </div>
                      <div>
                          <div class="uk-width-1-2@s uk-width-1-1 ">
                              <div class="uk-card  uk-margin-large-top  ">
                                 <span id="t" style="letter-spacing: 0.7px;">Can you join upload your project</span>
                                 <br>
                                 <span id="t">use READ.ME to write ieda project</span>
                                 <br>
                                 <button class="uk-button btn uk-button-default">&nbsp;  Join   &nbsp;   </button>                                                </div>
  
                              </div>
                          <div class="uk-width-expand">
                              <div class="uk-card uk-card-default uk-card-body">
                                  
                                  <h3 class="uk-card-title">Media Right</h3>
                              <p>Lorem ipsum dolor sit mod tempor incididunt.</p>
                              </div>
                          </div>
                          <div class="">
                              <h3 class="uk-card-title">Media Right</h3>
                              <p>Lorem ipsum dolor sit mod tempor incididunt.</p>
                          </div>
                      </div>
                  </div>
              </div>
             
              <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
                  <div class="uk-card-badge uk-label">Badge</div>
                  <h3 class="uk-card-title">Title</h3>
                  <p>Lorem ipsum color sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="">
                  <section class="uk-container uk-container-small uk-margin-small-top uk-height-large uk-cover-container "  >
                      <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle ">
                  
                      <div class=" uk-grid-collapse uk-child-width-1-2@s uk-margin " uk-grid>
                          <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-padding-remove-horizontal">
                              <img src="../../../../assets/img/index.png" alt="" uk-cover>
                              <canvas width="650" height="520"></canvas>
                          </div>
                          <div class="uk-padding-remove-horizontal">
                              <div class="uk-card-body">
                                  <h3 class="uk-card-title">Media Right</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                     
                  </section> 
              </div>
             
          </div>
        </div> -->
  </div>
  
  <!-- <div class="c" >
      <div>Div to be aligned vertically</div>
  </div> -->
  <!-- <div></div> -->
  <!-- <section class="uk-container uk-container-small uk-margin-small-top uk-height-large uk-cover-container "  >
      <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle c">
  
      <div class=" uk-grid-collapse uk-child-width-1-2@s uk-margin " uk-grid>
          <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-padding-remove-horizontal">
              <img src="../../../../assets/img/index.png" alt="" uk-cover>
              <canvas width="650" height="520"></canvas>
          </div>
          <div class="uk-padding-remove-horizontal">
              <div class="uk-card-body">
                  <h3 class="uk-card-title">Media Right</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
          </div>
      </div>
  </div>
      <div class="">
          <div class="uk-height-large uk-cover-container uk-border-rounded">
              
              <div                           class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-light uk-text-center"
  
                  >
   
                  <div >
                      <div class="uk-width-1-1">
                          <div class="uk-padding-remove-horizontal" >
                              <div uk-grid class="uk-grid-large uk-grid-divider uk-padding-remove-horizontal">
                                  
                                  <div class="uk-width-1-2@s">
                                      <div class="uk-margin-remove-left ">
                                          Can you join upload your project
                                          use READ.ME to write ieda project
                                      </div>
                                  </div>
                                 <img src="../../../../assets/img/index.png" width="200" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
  
          </div>
      </div>
  </section> -->
  
  <!-- <div class="dashboardContainer">
    
  
        <div class="dashboard-content">
          <nav  id="dashboardNav">
            <h4>NAV2</h4>
          </nav>
          <div class="dashboard-wrap-content">
            
    
            <nav class="rightBar">
              <h4>NAV3</h4>
            </nav>
          </div>
        </div>
      </div> -->
  