<app-navbar></app-navbar>

<div class="uk-container uk-container-small">
    <div _ngcontent-bth-c51="" class="uk-container uk-container-small">
        <div _ngcontent-bth-c51="" class="spacer"></div>
        <section _ngcontent-bth-c51=""
            class="uk-section uk-margin-medium-top uk-section-small uk-section-default uk-padding-remove-bottom">
            <div _ngcontent-bth-c51="" class="uk-container uk-container-expand uk-margin-large-bottom">
                <div _ngcontent-bth-c51="" data-uk-grid="masonry: true" data-uk-sortable="handle: .drag-icon"
                    class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-child-width-1-5@xl uk-grid-match js-filter uk-flex-top uk-flex-wrap-top uk-sortable"
                    style="height: 353px">
                    <div _ngcontent-bth-c51="" data-tags="a beautiful landscape - nature outdoor"
                        class="nature-card uk-first-column" style="transform: translateY(0px)">
                        <div _ngcontent-bth-c51="" class="uk-card uk-card-small uk-card-default">
                            <div _ngcontent-bth-c51="" class="uk-card-media">
                                <div _ngcontent-bth-c51="" tabindex="0"
                                    class="uk-inline-clip uk-transition-toggle uk-text-center">
                                    <p _ngcontent-bth-c51="">
                                        <img _ngcontent-bth-c51="" loading="lazy" alt=""
                                            src="https://img.icons8.com/bubbles/100/000000/business-man-with-beard.png"
                                            width="400" height="120" />
                                    </p>
                                </div>
                            </div>
                            <div _ngcontent-bth-c51="" class="uk-card-body">
                                <h6 _ngcontent-bth-c51=""
                                    class="uk-margin-small-bottom uk-margin-remove-top uk-margin-remove-adjacent uk-text-bold">
                                    BSc. dfdfgd
                                </h6>
                                <p _ngcontent-bth-c51="" class="uk-text-small uk-text-muted">
                                    The description
                                </p>
                                <ul _ngcontent-bth-c51="" class="uk-iconnav">
                                    <li _ngcontent-bth-c51="">
                                        <a _ngcontent-bth-c51="" arget="_blank" uk-icon="icon: facebook"
                                            href="https://facebook.com/" class="uk-icon"><svg width="20" height="20"
                                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                                data-svg="facebook">
                                                <path
                                                    d="M11,10h2.6l0.4-3H11V5.3c0-0.9,0.2-1.5,1.5-1.5H14V1.1c-0.3,0-1-0.1-2.1-0.1C9.6,1,8,2.4,8,5v2H5.5v3H8v8h3V10z">
                                                </path>
                                            </svg></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-bth-c51="" data-tags="a beautiful landscape - nature outdoor" class="nature-card"
                        style="transform: translateY(0px)">
                        <div _ngcontent-bth-c51="" class="uk-card uk-card-small uk-card-default">
                            <div _ngcontent-bth-c51="" class="uk-card-media">
                                <div _ngcontent-bth-c51="" tabindex="0"
                                    class="uk-inline-clip uk-transition-toggle uk-text-center">
                                    <p _ngcontent-bth-c51="">
                                        <img _ngcontent-bth-c51="" loading="lazy" alt=""
                                            src="https://firebasestorage.googleapis.com/v0/b/scomp-4aab2.appspot.com/o/32b095jbdym?alt=media&amp;token=e4130c0d-cbf4-4b18-8c38-6bee21fc28b1"
                                            width="400" height="120" />
                                    </p>
                                </div>
                            </div>
                            <div _ngcontent-bth-c51="" class="uk-card-body">
                                <h6 _ngcontent-bth-c51=""
                                    class="uk-margin-small-bottom uk-margin-remove-top uk-margin-remove-adjacent uk-text-bold">
                                    Dr. sffsf
                                </h6>
                                <p _ngcontent-bth-c51="" class="uk-text-small uk-text-muted">
                                    The description
                                </p>
                                <ul _ngcontent-bth-c51="" class="uk-iconnav">
                                    <li _ngcontent-bth-c51="">
                                        <a _ngcontent-bth-c51="" arget="_blank" uk-icon="icon: facebook"
                                            href="https://facebook.com/" class="uk-icon"><svg width="20" height="20"
                                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                                data-svg="facebook">
                                                <path
                                                    d="M11,10h2.6l0.4-3H11V5.3c0-0.9,0.2-1.5,1.5-1.5H14V1.1c-0.3,0-1-0.1-2.1-0.1C9.6,1,8,2.4,8,5v2H5.5v3H8v8h3V10z">
                                                </path>
                                            </svg></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
                </div>
            </div>
        </section>
    </div>
</div>