@media (max-width: 640px) {
  .uk-first-columns {
    order: -1 !important;
    margin-top: 10% !important;
  }
  .uk-first-columns img {
    margin-top: 30px;
  }
  .uk-text-cente {
    text-align: center !important;
  }
}

.uk-card-default {
  background: #f3f3f3 !important;
  color: #666;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
