<app-navbar></app-navbar>

<div class="uk-container uk-container-small">
    <div class="uk-section uk-flex uk-flex-middle uk-margin-left " uk-height-viewport="offset-top: true"
        style="min-height: calc(-130px + 100vh)">
        <div class="uk-slider-container">

            <div
                class="uk-card uk-card-default uk-card-body uk-card-small uk-flex uk-flex-middle uk-card-default uk-border-rounded">
                <div class="uk-grid uk-grid-medium uk-flex uk-flex-middle " data-uk-grid="">
                    <div class="uk-width-2-3@s uk-width-3-5@m uk-margin-large-top uk-margin-large-bottom ">
                        <h4 class=" uk-margin-small-top uk-margin-remove-bottom">Create by : Ameer Amjed</h4>
                        <span class="uk-article-meta">
                            <p>MCs CS & IT from UoW </p>
                        </span>
                        <p class="uk-margin-large ">
                            <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                            <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                            <a href="" class="uk-icon-button" uk-icon="instagram"></a>
                        </p>
                    </div>
                    <div class="uk-width-1-3@s uk-width-2-5@m uk-height-1-1 uk-first-column">
                        <img loading="lazy" width="500" src="../../../../assets/img/ameer.jpg" alt="imgAmeer">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>