

    .wrap::before {
       
        background-color: rgba(0, 0, 0, 0.646);
    
    }
.uk-navbar-left .uk-navbar-nav a{
    position: absolute; 
    z-index: 1;
}
.uk-navbar-left .uk-navbar-nav a:hover .fir-icon, .sec-icon{
    display: none;
}
.uk-navbar-left .uk-navbar-nav a:hover .sec-icon{
    display: inline;
}


table{
    width:70%; margin-left:15%; margin-right:15%; 
    /* width: 100%; */
    table-layout: fixed;
    overflow-wrap: break-word;
}
tbody tr:hover{
    background:  #fed330;
    color: #999;
}
.uk-table-striped tbody tr:nth-of-type(2n), .uk-table-striped > tr:nth-of-type(2n) {
    background:  rgba(245, 206, 30, 0.884);

        /* background:  #feea33c9; */
        color: white;
border : none;
    /* background:#fff8; */
    /* border-top: 1px solid#fed330; */
    /* border-bottom: 1px solid #fed330; */
}
.uk-table-striped tbody tr:nth-of-type(2n+1), .uk-table-striped > tr:nth-of-type(2n+1) {
    background:  #fed330;

        /* background:  #feea33c9; */
        color: white;
border : none;
    /* background:#fff8; */
    /* border-top: 1px solid#fed330; */
    /* border-bottom: 1px solid #fed330; */
}


.uk-table th {
    
    color: #22588f !important;
    
      
}
/* *{
    text-transform: capitalize !important;

} */
.uk-grid {
    margin-left: 0px !important;
}

/* .uk-margin-medium-top {
    margin-top: 23px !important;
  } */

.uk-tab > .uk-active > a {
    color: #fed330;
    border-color: #fed330;
}

/* 
.uk-margin-medium-top {
    margin-top: 30px !important;
} */



@media (min-width: 122px) and (max-width: 500px) {
    table{
        width:100%;
         margin-left:0% !important;
         margin-right:0% !important;
        table-layout: fixed;
        overflow-wrap: break-word;
    }
   .uk-section {
       margin-top: 10px;
   }

   .samo-change{
    margin-top: 5% !important
   }
   /* .uk-tab > * > a{
       padding-top: 10px;
       padding: 0px
   } */
   uk-table th {
    padding: 0px !important
}

}
/*  */
@media (max-width: 940px) and (min-width: 640px) { 
    .uk-margin-large-top{
        margin-top: 80px !important
    }
}



   .same-padd{padding-top: 23px}
   @media (max-width: 640px) { 
       .hidden-up-to-s {
           display: block;
       }
   
       /* .uk-margin-medium-top{
           margin-top: 20px !important
       } */
       .uk-margin-medium-bottom{
           margin-bottom: 5px !important
   
       }
   
       .same-padd{padding-top: 10px}
   }


   .uk-link, a{
    color: #999 !important;
    text-decoration: none;
    cursor: pointer;
}



.uk-active-style{
    color: #fed330 !important
}



.tab{
    width:100%;
    display: flex;
    justify-content: center;
}
.tab button {
    background-color: inherit;
   
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 12px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #fed330;
}

.tab button.active {
    color: white;
    /* font-weight: 700; */
    background-color: #22588f;
    
}


  
  #outer {
    border: 1px solid red;
    width:100%;
    display: flex;
    justify-content: center;
  }